<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
</head>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebar :: div">
    </div>

    <!-- Contenido -->
    <div id="page-content-wrapper">
        
      <!-- Navbar -->
      <nav th:replace="/fragments/navbar :: nav">
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Centro Medico 2</h1>
        <p>Informacion relacionada al proyecto</p>
        <table class="table table-sm table-hover">
            <tr>
              <td>Ramo</td>
              <td>Taller de diseño de aplicaciones</td>

            </tr>
            <tr>
              <td>Profesor</td>
              <td>Anggelo Ursso</td>
            </tr>
            <tr>
              <td>Analista</td>
              <td>Carolina Osses</td>
            </tr>
            <tr>
              <td>Diñador UX/UI</td>
              <td>Patricio Martinez</td>
            </tr>
            <tr>
              <td>Desarrollador backend</td>
              <td>Ivan Villarroel</td>
            </tr>
            <tr>
              <td>Evaluacion</td>
              <td>Proyecto entrega 2, centro medico</td>
            </tr>
        </table>
        <h3>Modelo Relacional Centro Medico</h3>
        <embed th:src="@{img/modelo_relacional.pdf}" width="1700" height="1300"
                type="application/pdf">
    </div>

  </div>
  <!-- Logout form -->
  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
 </form> 
  <!-- Archivos JavaScript -->
  <script th:src="@{js/jquery.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script th:src="@{js/sweetalert2.js}"></script>
  <script th:src="@{js/custom.js}"></script>
</body>
</html>
