<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
</head>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebar :: div">
    </div>

    <!-- Contenido -->
    <div id="page-content-wrapper">
        
      <!-- Navbar -->
      <nav th:replace="/fragments/navbar :: nav">
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Centro Medico 2</h1>
        <p>Informacion relacionada al proyecto centro medico 2</p>
      </div>
    </div>

  </div>
  <!-- Logout form -->
  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
 </form> 
  <!-- Archivos JavaScript -->
  <script th:src="@{js/jquery.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script th:src="@{js/sweetalert2.js}"></script>
  <script th:src="@{js/custom.js}"></script>
</body>
</html>
