<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
</head>

<body>
    <div class="login-clean">
        <form method="post" th:action="@{/login}">
            <div class="illustration"><i class="icon ion-ios-medical-outline"></i></div>
            <h5 class="text-center mb-5">APP CENTRO MEDICO</h5>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="User"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" id="button">Ingresar</button></div><a class="forgot" href="#">Recuperar contraseña</a>
            <div th:if="${booleanerror}">
                <small th:text="${error}"></small>
            </div>
        </form>
    </div>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
</body>

</html>