<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
</head>

<body>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebar :: div">
    </div>
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
        
      <!-- Navbar -->
      <nav th:replace="/fragments/navbar :: nav">
      </nav>

      <div class="container-fluid"> <!-- BODY LOL -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">VER PACIENTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/nuevopaciente}">NUEVO PACIENTE</a>
            </li>
          </ul>  
          
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th> Rut </th>
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Edad </th>
                    <th> Atenciones </th>
                    <th> Recetas </th>
                    <th> Examenes </th>
                    <th> Editar </th>
                    <th> Eliminar </th>
                </tr>
            </thead>
            <tbody>
          <tr th:if="${pacientes.empty}">
                    <td colspan="7"> No hay medicos registrados </td>
                </tr>
                <tr th:each="paciente : ${pacientes}">
                    <td><span th:text="${paciente.getRut()}"></span></td>
                    <td><span th:text="${paciente.getNombre()}"></span></td>
                    <td><span th:text="${paciente.getApellido()}"></span></td>
                    <td><span th:text="${paciente.getEdad()}"></span></td>
                    <td><a class="btn btn-info" role="button">Ver Atenciones</a></td>
                    <td><a class="btn btn-info" role="button">Ver Recetas</a></td>
                    <td><a class="btn btn-info" role="button">Ver Examenes</a></td>
                    <td><a class="btn btn-warning" role="button">Editar</a></td>
                    <td>
                        <form action="#" th:action="@{'/borrarpaciente/{rut}'(rut=${paciente.getRut()})}" th:method="delete" >
                          <input type="hidden" name="_method" value="delete" />
                          <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
 </form> 
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{js/jquery.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script th:src="@{js/sweetalert2.js}"></script>
  <script th:src="@{js/custom.js}"></script>

</body>
</html>
